RewriteEngine on

RewriteCond %{HTTP_HOST} ^disainco\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.disainco\.com$
RewriteRule ^ArgenisOldairPalacios\/$ "http\:\/\/argenisoldairpalacios\.disainco\.com\/" [R=301,L]

