
RewriteEngine on

RewriteCond %{HTTP_HOST} ^disain\.co$ [OR]
RewriteCond %{HTTP_HOST} ^www\.disain\.co$
RewriteRule ^ArgenisOldairPalacios\/$ "http\:\/\/argenisoldairpalacios\.disain\.co\/" [R=301,L]

